open3d
opencv-contrib-python==4.6.0.66
PyExifTool
wget
e3nn
plyfile==0.8.1
sphecerix
imageio
PyExifTool==0.5.6
pybullet==3.2.6
pypng
scikit-image
tqdm
spatialmath-python
glumpy
einops
packaging
scipy
pandas
pyshtools